- content_for :post_title, 'Motion Estimation Accelerator'
- content_for :post_subtitle, 'Exploiting hardware parallelism on data-independent kernels'
- content_for :post_splash_img, 'fumble.jpg'
- content_for :post_splash_img_credit, 'http://en.wikipedia.org/wiki/American_football#/media/File:Arian_Foster_fumble.jpg'
- content_for :post_tags, PostsHelper.bundle_tags(['hardware', 'systemc', 'zynq', 'fpga', 'images', 'kernel', 'parallelism'])

%section
  :markdown
    Testing
