- content_for :post_title, 'Motion Estimation Accelerator'
- content_for :post_subtitle, 'Scaling parallelizable algorithms'
- content_for :post_splash_img, 'fumble.jpg'
- content_for :post_splash_img_credit, 'en.wikipedia.org/wiki/American_football#/media/File:Arian_Foster_fumble.jpg'
- content_for :post_tags,  ['hardware', 'systemc', 'zynq', 'fpga', 'images', 'kernel', 'parallelism']

%section
  :markdown
    Testing
