- content_for :post_title, 'Musebox'
- content_for :post_subtitle, 'What is an equalizer anyway?'
- content_for :post_splash_img, 'visualizer.png'
- content_for :post_splash_credit, 'foobar2000 Musical Spectrum visualizer'
- content_for :post_tags, PostsHelper.bundle_tags(['hardware', 'altera', 'fpga', 'verilog', 'quartus', 'music', 'audio', 'cyclone'])

%section
  :markdown
    Testing
