- content_for :post_title, 'MuseBox'
- content_for :post_subtitle, 'What is an equalizer anyway?'
- content_for :post_splash_img, 'visualizer.png'
- content_for :post_splash_img_credit, '<a href="https://www.foobar2000.org/">foobar2000</a> <a href="http://wiki.hydrogenaud.io/index.php?title=Foobar2000:Components/Musical_Spectrum_(foo_musical_spectrum)">Musical Spectrum visualizer</a>'.html_safe
- content_for :post_tags, PostsHelper.bundle_tags(['hardware', 'altera', 'fpga', 'verilog', 'quartus', 'music', 'audio', 'cyclone'])

%section
  :markdown
    #### A Long Time Coming ####

    I really like headphones.
