- content_for :post_title, 'Musebox'
- content_for :post_subtitle, 'What is an equalizer anyway?'
- content_for :post_splash_img, 'visualizer.png'
- content_for :post_tags, ['hardware', 'altera', 'fpga', 'verilog', 'quartus', 'music', 'audio', 'cyclone']

%section
  :markdown
    Testing
