.row
  .small-10.small-offset-1.columns
    = form_for :comment, url: comments_path do |f|
      .row.collapse
        %strong New Comment
      .row.collapse
        .small-10.columns
          = f.text_area :body
        .small-2.columns
          = f.submit 'Submit', class: 'button postfix'
