- content_for :post_title, 'Comments'
- content_for :post_subtitle, 'Served three ways'
- content_for :post_splash_img, 'comment_code.png'
- content_for :post_tags, PostsHelper.bundle_tags(['cinnamonroll', 'mongoid', 'premature optimization', 'benchmark'])
