@import '../../base/themes';
@import 'foundation/functions';

$margin: 0.9375rem;
$offset: rem-calc(30)/2;
$border-width: 0.5rem;
$main-padding: $offset*2;

// compute the color from this loop:
// $categories: project, thought, review, testing;
// @for $i from 1 through 4 {
//   $rotation: ($i - 1)*90;
//   .bg-#{nth($categories, $i)} {
//     background-color: adjust-hue($badge-color, $rotation);
//   }
// }

$header-font-sizes: rem-calc(44) rem-calc(37) rem-calc(27) rem-calc(23) rem-calc(18) 1rem;
$header-font-size-mobile-reduction: rem-calc(10) rem-calc(10) rem-calc(5) rem-calc(5) 0 0;

@mixin header-style-color($color) {
  @for $i from 1 through 6 {
    #main-content h#{$i} {
      background-color: $color;
      color: $bg-color;

      margin-left: -$main-padding - $border-width;
      // margin-left: -$offset*2 - $border-width;
      margin-right: -$main-padding - $border-width;
      margin-bottom: 0;
      margin-top: 0;
      // Hind needs a bigger top offset to look centered
      padding-top: nth($header-font-sizes, $i)/8;
      padding-left: $offset+$border-width;
      padding-right: $offset;
      @media only screen and (max-width: 40em) {
        padding-top: (nth($header-font-sizes, $i) - nth($header-font-size-mobile-reduction, $i))/8;
      }
    }
  }
}

aside {
  margin-left: $offset*2;
  p {
    font-size: 1rem;
  }
}

#title-container {
  @media only screen and (max-width: 40em) {
    h3 {
      font-weight: 400;
    }
  }
}

$paragraph-margin: rem-calc(20);

#main-content p {
  margin-top: $paragraph-margin;
  margin-bottom: $paragraph-margin;
}
