!!! 5
%html
  %head
    %meta(content='text/html; charset=UTF-8' http-equiv='Content-Type')/

  %body
    %p <b>Welcome to markaligbe.com, @#{@user.name}!</b>
    %p I'm excited that you decided to sign up. <br> To confirm your email, simply visit #{confirm_user_url @user, @user.confirmation_token} or click on <a href="#{confirm_user_url @user, @user.confirmation_token}">this link</a>. <br> Thanks again!
    %p - Mark Aligbe
