@import 'foundation/functions';

$fast-transition: 0.1s;
$medium-transition: $fast-transition*2;

@mixin ease-transition($speed) {
  -webkit-transition: all $speed ease;
  -moz-transition: all $speed ease;
  -o-transition: all $speed ease;
  transition: all $speed ease;
}
