$vibrant-theme: (
  bar-color: #E6B07B,
  alt-header-color: #359276,
  header-color: #2E95BB,
  alt-bar-color: #32CC84,
  bg-color: #232C22,
  alt-bg-color: #893F2C,
  fill-color: #80B019,
  error-color: #C95916,
);

$spring-theme: (
  bg-color: #764A3B,
  bar-color: #88FF85,
  alt-header-color: #78F7F3,
  header-color: #3471AA,
  error-color: #F2F543,
  alt-bar-color: #2B5411,
  alt-bg-color: #853B06,
);

$monochrome-theme: (
  fill-color: #BE8441,
  alt-bg-color: #6D471F,
  error-color: #E37A28,
  bar-color: #D0AA7D,
  header-color: #E8A537,
  bg-color: #A55818,
  font-color: #F8F8FF
);

$adobe-theme: (
  bg-color: #915827,
  header-color: #E54F22,
  alt-header-color: #DA9F37,
  bar-color: #DCAC79,
  alt-bar-color: #503318,
  fill-color: #907650,
  error-color: #BD532D,
);

$crossing-brown-theme: (
  fill-color: #D0A372,
  header-color: #EA7D2A,
  alt-bg-color: #5D3D1E,
  error-color: #EEA82D,
  bar-color: #8F5D26,
  alt-header-color: #CD8E3C,
  bg-color: #B45C1B
);

$mud-theme: (
  header-color: #D47B40,
  alt-bg-color: #4F381D,
  alt-header-color: #D6AE7D,
  bar-color: #DAA537,
  error-color: #8A3B1D,
  bg-color: #D84B24,
  fill-color: #916D3A,
);

$clay-theme: (
  error-color: #E15624,
  header-color: #523015,
  bar-color: #D4AA7A,
  alt-header-color: #E7AA3D,
  alt-bg-color: #A6752B,
  bg-color: darken(#B5512F, 0.5%), // original: darken(#B5512F, 1%), darken then lighten: #C95A34, lighten only: #B14F2E
  fill-color: #83633D
);

$clay-light-theme: (
  error-color: #E15624,
  header-color: #523015,
  bar-color: #D4AA7A,
  alt-header-color: #E7AA3D,
  alt-bg-color: #A6752B,
  bg-color: #E9C898,
  fill-color: #83633D,
  font-color: #000000
);

@mixin apply-theme($theme) {
  $bg-color: map-get($theme, bg-color) !global;
  $alt-bg-color: if(map-has-key($theme, alt-bg-color), map-get($theme, alt-bg-color), saturate(map-get($theme, bg-color), 20%)) !global;
  $header-color: map-get($theme, header-color) !global;
  $alt-header-color: if(map-has-key($theme, alt-header-color), map-get($theme, alt-header-color), lighten(map-get($theme, header-color), 20%)) !global;
  $bar-color: map-get($theme, bar-color) !global;
  $alt-bar-color: if(map-has-key($theme, alt-bar-color), map-get($theme, alt-bar-color), adjust-hue(map-get($theme, bg-color), 90deg)) !global;
  $fill-color: map-get($theme, fill-color) !global;
  $error-color: map-get($theme, error-color) !global;
  $font-color: if(map-has-key($theme, font-color), map-get($theme, font-color), #FFFFFF) !global;
};

@include apply-theme($clay-light-theme);

@for $i from 1 through 6 {
  h#{$i} {
    color: $font-color;
  }
}

body {
  color: $font-color;
  background-color: $bg-color;
}

@media only screen and (min-width: 40em) {
    .top-bar {
        text-align: center;
    }

    ul.center {
        display: inline-block;
    }

}

.menu-icon {
    padding-top: 1.2rem;
}

.top-bar.expanded {
    background: #333333;
}
