@import 'themes';
@import 'foundation/functions';

$nav-bar-height: rem-calc(72);
$h-weights: 600 300 300 300 300 300;

@for $i from 1 through 6 {
  h#{$i} {
    color: $header-font-color;
    font-family: "Hind", "Helvetica Neue", Helvetica, sans-serif;
    // font-weight: 500 - floor(($i - 1)/2) * 100;
    font-weight: nth($h-weights, $i);
  }
}

body {
  color: $font-color;
  background-color: $bg-color;
  // font-family: 'Titillium Web', "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
}

.first-header {
  margin-top: 0;
}

.last-header {
  margin-bottom: 0;
}

.no-bottom-margin {
  input {
    margin-bottom: 0;
  }
}

.no-right-padding {
  padding-right: 0;
}
