@import 'themes';
@import 'foundation/functions';

@for $i from 1 through 6 {
  h#{$i} {
    color: $header-font-color;
  }
}

body {
  color: $font-color;
  background-color: $bg-color;
}

@media only screen and (min-width: 40em) {
  .top-bar {
    top: -4.5rem;
    z-index: 2;
    text-align: center;
    overflow: hidden;
    position: fixed;
    width: 100%;
  }

  ul.center {
    display: inline-block;
  }

}

.menu-icon {
  padding-top: 1.2rem;
}
