// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-separator, .comment-edited, .comment-written {
  display: table-cell;
}

.comment-dates {
  display: table;
  width: 100%;
}

.comment-dates-row {
  display: table-row;
}

#new-comment-textarea {
  margin-bottom: 0;
}

.comment-thread {
  background-color:rgba(155,231,255,0.1);
  padding-bottom: 1em;
  padding-top: 1em;
}
