@import '../base/themes';

.comment-separator, .comment-edited, .comment-written {
  display: table-cell;
}

.comment-dates {
  display: table;
  width: 100%;
}

.comment-dates-row {
  display: table-row;
}

#new-comment-textarea {
  margin-bottom: 0;
}

.comment-thread {
  // background-color:rgba(155,231,255,0.1);
  border-style: solid;
  border-color: $comment-border-color;
  border-width: 0.08em;
  padding-right: 1.2em;
  padding-top: 0.5em;
  margin-bottom: 1em;
}

.comment-thread-ping {
  background-color: $comment-ping-color;
}

.comment-thread-pong {
  background-color: $comment-pong-color;
}

#comment-announce {
  background-color: $comment-ping-color;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  @for $i from 1 through 6 {
    h#{$i} {
      color: $font-color;
    }
  }
}

#all-comments {
  $ff: "Khula", "Hind", "Helvetica Neue", Helvetica, Roboto, sans-serif;
  font-family: $ff;
  h4 {
    font-family: $ff;
  }
  p, a, div {
    font-size: 1.188rem;
    @media only screen and (max-width: 40em) {
      font-size: 1rem;
    }
  }
  .comment-written {
    font-size: 1rem;
    @media only screen and (max-width: 40em) {
      font-size: 0.813rem;
    }
  }
}
