@import '../base/themes';
@import '../base/mixins';
@import 'foundation/functions';

$margin: 0.9375rem;
$offset: rem-calc(30)/2;
$border-width: 0.5rem;
$main-padding: $offset*2;

#main-content {
  $border-color: mix($alt-bg-color, $header-color, 70%);
  padding-top: $offset*2;

  background-color: $alt-bg-color;
  // border-style: solid;
  // border-width: $border-width;
  // border-color: $border-color;
  // border-left-style: solid;
  // border-left-color: $border-color;
  // border-left-width: $border-width;
  // border-right-style: solid;
  // border-right-color: $border-color;
  // border-right-width: $border-width;
  // border-bottom-style: solid;
  // border-bottom-color: $border-color;
  // border-bottom-width: $border-width;

  margin-bottom: $offset*3;
  padding-left: $main-padding;
  padding-right: $main-padding;
}

@mixin header-shadow {
  -webkit-box-shadow: 2px 10px 11px -14px rgba(0,0,0,0.65);
  -moz-box-shadow: 2px 10px 11px -14px rgba(0,0,0,0.65);
  box-shadow: 2px 10px 11px -14px rgba(0,0,0,0.65);
}

$image-inner-margin: rem-calc(72)/3;
$image-outer-margin: rem-calc(72);

#image-row-container {
  background-color: rgba(#4D4D4D, 0.2);
  margin-bottom: $image-outer-margin;
}

#image-container {
  background-color: rgba(#4D4D4D, 0.2);
  margin-top: $image-inner-margin;
  margin-bottom: $image-inner-margin;
}

#title-row-container {
  margin-top: $image-outer-margin*3/4;
}

#title-container {
  background-color: $alt-bg-color;
  border-bottom-style: solid;
  border-bottom-color: $header-color;
  border-bottom-width: 2rem;
  position: relative;
  z-index: 5;
  padding-left: $offset*2;
  margin-right: -$offset;
  margin-left: -$offset;
  padding-top: $offset*2;
  padding-bottom: $offset*2;
  // background-color: $header-color;
  $radius: 5px;
  border-radius: $radius $radius 0px 0px;
  -moz-border-radius: $radius $radius 0px 0px;
  -webkit-border-radius: $radius $radius 0px 0px;
}

#title-container-no-bottom {
  @extend #title-container;

  border-bottom-width: 0;
  padding-bottom: 0;
}

#post-nav {
  z-index: 1000;
  background-color: rgba($bg-color, 0.75);
  @media only screen and (max-width: 40em) {
    background-color: $bg-color;
  }
  top: 0;
  -webkit-box-shadow: 5px 0px 10px -5px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 0px 10px -5px rgba(0,0,0,0.1);
  box-shadow: 5px 0px 10px -5px rgba(0,0,0,0.1);
  position: fixed;
  left: -10%;
  overflow: hidden;
  padding-right: 1em;
  padding-left: 1em;
  height: 100%;

  span {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 12.5%;
    transform: translateY(-25%);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: $bg-color;
    font-size: 1.25rem;
  }

  a:hover {
    background-color: $alt-bg-color;
  }

  .side-nav {
    position: relative;
    max-height: 50%;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
  }

  div {
    height: 100%;
    background-color: $bg-color;
  }
}

.section-header {
  background-color: $header-color;
  @for $i from 1 through 6 {
    h#{$i} {
      color: $bg-color;
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  margin-left: -$main-padding - $border-width;
  // margin-left: -$offset*2 - $border-width;
  margin-right: -$main-padding - $border-width;
  margin-bottom: $offset;
  margin-top: $offset*2;
  padding: $offset/4 $offset $offset/4 $offset+$border-width;
}

$browser-clear: rem-calc(72);

.header-buffer {
  padding-bottom: $browser-clear/2;
}

$badge-color: saturate(lighten($header-color, 15%), 5%);

@for $i from 1 through 4 {
  $rotation: ($i - 1)*90;
  .header-badge-color-#{$i} {
    background-color: rgba(lighten(adjust-hue($badge-color, $rotation), 10%), 1) !important;
  }
  .header-badge-link-#{$i} {
    a {
      @include ease-transition($fast-transition);
    }
    a:hover {
      background-color: rgba(lighten(adjust-hue($badge-color, $rotation), 10%), 1) !important;
      color: $bg-color !important;
    }
  }
}

.nav-cat-posts {
  background-color: transparent !important;
}

.bold-link {
  font-weight: bold !important;
}

.header-span {
  background-color: saturate(lighten($header-color, 10%), 10%) !important;
}

.static-link {
  a {
    @include ease-transition($fast-transition);
  }
  a:hover {
    background-color: saturate(lighten($header-color, 10%), 10%) !important;
    color: $bg-color !important;
  }
}

@for $i from 1 through 4 {
  $rotation: ($i - 1)*90;
  #current-post-#{$i} {
    background-color: lighten(adjust-hue($badge-color, $rotation), 10%) !important;
    a {
      color: $bg-color !important;
      font-weight: bold !important;
      cursor: default;
    }
  }
}

#lone-header {
  margin-top: $offset/3;
}

.bullet-less-list {
  list-style-type: none;
}
