@import '../base/themes';
@import 'foundation/functions';

$header-height: rem-calc(72);

@mixin horizontal-center-contents {
  display: table;
  margin: 0 auto;
}

$fast-transition: 0.1s;
$medium-transition: $fast-transition*2;

@mixin ease-transition($speed) {
  -webkit-transition: all $speed ease;
  -moz-transition: all $speed ease;
  -o-transition: all $speed ease;
  transition: all $speed ease;
}

$browser-clear: rem-calc(72);

.image-container {
  position: relative;

  // border-style: solid;
  // border-width: 0.25em;
  // border-color: mix($header-color, $alt-bg-color, 15%);
}

.post-container {
  width: 90%;
  margin-left: 5%;
}

// .image-container-last {
//   margin-bottom: 0;
// }

.post-image {
}

.image-overlay-text {
  background-color: rgba(#1A1A1A, 0.3);
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-shadow: 0px 0px 0.33em #000000;

  @include ease-transition($medium-transition);

  @for $i from 1 through 6 {
    h#{$i} {
      color: $bg-color;
      font-weight: normal;
    }
  }
}

.post-link {
  &:hover {
    .image-overlay-text {
      background-color: rgba(#1A1A1A, 0.5);
    }
  }
}

.image-overlay-table {
  height: 100%;
  width: 100%;
  display: table;
}

.image-overlay-cell {
  display: table-cell;
  vertical-align: middle;
}

.image-overlay-text-center {
  @include horizontal-center-contents;
  @media only screen and (max-width: 40em) {
    padding-left: 1em;
  }
}

#header {
  height: $header-height;
}

#site-content {
  background-color: $alt-bg-color;
  margin-top: $browser-clear;
}

#greeting {
  @include horizontal-center-contents;
  text-align: center;
  padding-top: $browser-clear/2;
}

#category-row {
  @include horizontal-center-contents;
  // padding-bottom: $browser-clear;
  padding-top: $browser-clear/3;
}

$badge-color: saturate(lighten($header-color, 15%), 5%);

.circle {
  $font-size: 3em;
  $border-width: 0.08em;
  display: inline-block;
  padding: $font-size/4*2/3 - $border-width/2;
  text-align: center;
  line-height: $font-size/2*2/3 - $border-width;
  border-radius: 50%;
  border-style: double;
  border-width: $border-width;
  border-color: $font-color;
  height: $font-size*2/3;
  width: $font-size*2/3;
  font-weight: bold;
  background-color: adjust-hue($alt-bg-color, -30deg); // #d73d33;
  font-size: $font-size !important;
  color: $font-color;
  margin-left: 1rem;

  @include ease-transition($fast-transition);

  &:hover {
    border-color: $bg-color;
    color: $bg-color;
    background-color: $badge-color;
  }
}

#cat-1 {
  margin-left: 0;
}

@for $i from 1 through 4 {
  $rotation: ($i - 1)*90;
  #cat-#{$i} {
    &:hover {
      background-color: adjust-hue($badge-color, $rotation);
    }
  }
  .cat-#{$i}-perma {
    background-color: adjust-hue($badge-color, $rotation);
  }
}

.category-description-container {
  position: relative;
  padding-bottom: 5.5rem + $browser-clear/2;
  padding-top: 0.5rem;
  width: 100%;
}

.category-description {
  width: 100%;
  position: absolute;
  text-align: center;
  display: none;
}

.post-cat-badge {
  @include horizontal-center-contents;
}

.perma-circle {
  @extend .circle;
  @extend .circle:hover;

  margin-left: 0;
  margin-top: $browser-clear/2;
  margin-bottom: $browser-clear/2;
}
