- content_for :post_title, 'Expelled from Paradise'
- content_for :post_subtitle, 'Another exploration into the difference between humans and AI'
- content_for :post_splash_img, 'dingo.jpg'
- content_for :post_splash_img_credit, 'http://www.aniplexusa.com/expelledfromparadise/'
- content_for :post_tags, PostsHelper.bundle_tags(['anime', 'urobuchi', 'action', 'sci-fi', 'mecha', 'ai', 'toei'])
