- @metadata = { title: 'Expelled from Paradise',
                subtitle: 'Another exploration into the difference between humans and AI',
                splash_img: 'dingo.jpg',
                splash_img_credit: 'http://www.aniplexusa.com/expelledfromparadise/',
                tags: ['anime', 'urobuchi', 'action', 'sci-fi', 'mecha', 'ai', 'toei'] }
