- @metadata = { title: 'One Punch Man',
                subtitle: 'Pure entertainment in one punch',
                splash_img: 'ok.png',
                splash_img_credit: 'http://www.daisuki.net/anime/detail/ONEPUNCHMAN',
                tags: ['anime', 'madhouse', 'action', 'parody'] }
