- content_for :post_title, 'One Punch Man'
- content_for :post_subtitle, 'Pure entertainment in one punch'
- content_for :post_splash_img, 'ok.png'
- content_for :post_splash_img_credit, 'http://www.daisuki.net/anime/detail/ONEPUNCHMAN'
- content_for :post_tags, PostsHelper.bundle_tags(['anime', 'madhouse', 'action', 'parody'])
