<div class="figure">
<img src="https://s3.amazonaws.com/ohmyzsh/oh-my-zsh-logo.png" alt="Oh My Zsh" />
<p class="caption">Oh My Zsh</p>
</div>
<p>Oh My Zsh is an open source, community-driven framework for managing your <a href="http://www.zsh.org/">zsh</a> configuration. That sounds boring. Let's try this again.</p>
<p><strong>Oh My Zsh is a way of life!</strong> Once installed, your terminal prompt will become the talk of the town <em>or your money back!</em> Each time you interact with your command prompt, you'll be able take advantage of the hundreds of bundled plugins and pretty themes. Strangers will come up to you in cafés and ask you, <em>&quot;that is amazing. are you some sort of genius?&quot;</em> Finally, you'll begin to get the sort of attention that you always felt that you deserved. ...or maybe you'll just use the time that you saved to start flossing more often.</p>
<p>To learn more, visit <a href="http://ohmyz.sh">ohmyz.sh</a> and/or follow <a href="https://twitter.com/ohmyzsh">ohmyzsh</a> on Twitter.</p>
<div class="section-header"><h2 id="getting-started">Getting Started</h2></div>
<h3 id="prerequisites">Prerequisites</h3>
<p><strong>Disclaimer:</strong> <em>Oh My Zsh works best on Mac OS X and Linux.</em></p>
<ul>
<li>Unix-based operating system (Mac OS X or Linux)</li>
<li><a href="http://www.zsh.org">Zsh</a> should be installed (v4.3.9 or more recent). If not pre-installed (<code>zsh --version</code> to confirm), check the following instruction here: <a href="https://github.com/robbyrussell/oh-my-zsh/wiki/Installing-ZSH">Installing-ZSH</a></li>
<li><code>curl</code> or <code>wget</code> should be installed</li>
<li><code>git</code> should be installed</li>
</ul>
<h3 id="basic-installation">Basic Installation</h3>
<p>Oh My Zsh is installed by running one of the following commands in your terminal. You can install this via the command-line with either <code>curl</code> or <code>wget</code>.</p>
<h4 id="via-curl">via curl</h4>
<pre class="shell"><code>sh -c &quot;$(curl -fsSL https://raw.github.com/robbyrussell/oh-my-zsh/master/tools/install.sh)&quot;</code></pre>
<h4 id="via-wget">via wget</h4>
<pre class="shell"><code>sh -c &quot;$(wget https://raw.github.com/robbyrussell/oh-my-zsh/master/tools/install.sh -O -)&quot;</code></pre>
<h2 id="using-oh-my-zsh">Using Oh My Zsh</h2>
<h3 id="plugins">Plugins</h3>
<p>Oh My Zsh comes with a shit load of plugins to take advantage of. You can take a look in the <a href="https://github.com/robbyrussell/oh-my-zsh/tree/master/plugins">plugins</a> directory and/or the <a href="https://github.com/robbyrussell/oh-my-zsh/wiki/Plugins">wiki</a> to see what's currently available.</p>
<h4 id="enabling-plugins">Enabling Plugins</h4>
<p>If you spot a plugin (or several) that you would like to use with Oh My Zsh, you will need to edit the <code>~/.zshrc</code> file. Once you open it with your favorite editor, you'll see a spot to list all the plugins that you'd like Oh My Zsh to load in initialization.</p>
<p>For example, this line might begin to look like...</p>
<pre class="shell"><code>plugins=(git bundler osx rake ruby)</code></pre>
<h4 id="using-plugins">Using Plugins</h4>
<p>Most plugins (should! we're working on this) include a <strong>README</strong>, which documents how to use them.</p>
<h3 id="themes">Themes</h3>
<p>We'll admit it. Early in the Oh My Zsh world, we may have gotten a bit too theme happy. We have over one hundred themes now bundled. Most of them have <a href="https://wiki.github.com/robbyrussell/oh-my-zsh/themes">screenshots</a> on the wiki. Check them out!</p>
<h4 id="selecting-a-theme">Selecting a Theme</h4>
<p><em>Robby's theme is the default one. It's not the fanciest one. It's not the simplest one. It's just right (for him).</em></p>
<p>Once you find a theme that you want to use, you will need to edit the <code>~/.zshrc</code> file. You'll see an environment variable (all caps) in there that looks like:</p>
<pre class="shell"><code>ZSH_THEME=&quot;robbyrussell&quot;</code></pre>
<p>To use a different theme, simply change the value to match the name of your desired theme. For example:</p>
<pre class="shell"><code>ZSH_THEME=&quot;agnoster&quot; # (this is one of the fancy ones)</code></pre>
<p>Open up a new terminal window and your prompt should look something like...</p>
<div class="figure">
<img src="https://cloud.githubusercontent.com/assets/2618447/6316862/70f58fb6-ba03-11e4-82c9-c083bf9a6574.png" alt="Agnoster theme" />
<p class="caption">Agnoster theme</p>
</div>
<p>In case you did not find a suitable theme for your needs, please have a look at the wiki for <a href="https://github.com/robbyrussell/oh-my-zsh/wiki/External-themes">more of them</a>.</p>
<p>If you're feeling feisty, you can let the computer select one randomly for you each time you open a new terminal window.</p>
<pre class="shell"><code>ZSH_THEME=&quot;random&quot; # (...please let it be pie... please be some pie..)</code></pre>
<h2 id="advanced-topics">Advanced Topics</h2>
<p>If you're the type that likes to get their hands dirty, these sections might resonate.</p>
<h3 id="advanced-installation">Advanced Installation</h3>
<p>Some users may want to change the default path, or manually install Oh My Zsh.</p>
<h4 id="custom-directory">Custom Directory</h4>
<p>The default location is <code>~/.oh-my-zsh</code> (hidden in your home directory)</p>
<p>If you'd like to change the install directory with the <code>ZSH</code> environment variable, either by running <code>export ZSH=/your/path</code> before installing, or by setting it before the end of the install pipeline like this:</p>
<pre class="shell"><code>export ZSH=&quot;~/.dotfiles/oh-my-zsh&quot;; sh -c &quot;$(curl -fsSL https://raw.github.com/robbyrussell/oh-my-zsh/master/tools/install.sh)&quot;</code></pre>
<h4 id="manual-installation">Manual Installation</h4>
<h5 id="clone-the-repository">1. Clone the repository:</h5>
<pre class="shell"><code>git clone git://github.com/robbyrussell/oh-my-zsh.git ~/.oh-my-zsh</code></pre>
<h5 id="optionally-backup-your-existing-.zshrc-file">2. <em>Optionally</em>, backup your existing <code>~/.zshrc</code> file:</h5>
<pre class="shell"><code>cp ~/.zshrc ~/.zshrc.orig</code></pre>
<h5 id="create-a-new-zsh-configuration-file">3. Create a new zsh configuration file</h5>
<p>You can create a new zsh config file by copying the template that we included for you.</p>
<pre class="shell"><code>cp ~/.oh-my-zsh/templates/zshrc.zsh-template ~/.zshrc</code></pre>
<h5 id="change-your-default-shell">4. Change your default shell</h5>
<pre class="shell"><code>chsh -s /bin/zsh</code></pre>
<h5 id="initialize-your-new-zsh-configuration">5. Initialize your new zsh configuration</h5>
<p>Once you open up a new terminal window, it should load zsh with Oh My Zsh's configuration.</p>
<h3 id="installation-problems">Installation Problems</h3>
<p>If you have any hiccups installing, here are a few common fixes.</p>
<ul>
<li>You <em>might</em> need to modify your <code>PATH</code> in <code>~/.zshrc</code> if you're not able to find some commands after switching to <code>oh-my-zsh</code>.</li>
<li>If you installed manually or changed the install location, check the <code>ZSH</code> environment variable in <code>~/.zshrc</code>.</li>
</ul>
<h3 id="custom-plugins-and-themes">Custom Plugins and Themes</h3>
<p>If you want to override any of the default behaviors, just add a new file (ending in <code>.zsh</code>) in the <code>custom/</code> directory.</p>
<p>If you have many functions that go well together, you can put them as a <code>XYZ.plugin.zsh</code> file in the <code>custom/plugins/</code> directory and then enable this plugin.</p>
<p>If you would like to override the functionality of a plugin distributed with Oh My Zsh, create a plugin of the same name in the <code>custom/plugins/</code> directory and it will be loaded instead of the one in <code>plugins/</code>.</p>
<h2 id="getting-updates">Getting Updates</h2>
<p>By default, you will be prompted to check for upgrades every few weeks. If you would like <code>oh-my-zsh</code> to automatically upgrade itself without prompting you, set the following in your <code>~/.zshrc</code>:</p>
<pre class="shell"><code>DISABLE_UPDATE_PROMPT=true</code></pre>
<p>To disable automatic upgrades, set the following in your <code>~/.zshrc</code>:</p>
<pre class="shell"><code>DISABLE_AUTO_UPDATE=true</code></pre>
<h3 id="manual-updates">Manual Updates</h3>
<p>If you'd like to upgrade at any point in time (maybe someone just released a new plugin and you don't want to wait a week?) you just need to run:</p>
<pre class="shell"><code>upgrade_oh_my_zsh</code></pre>
<p>Magic!</p>
<h2 id="uninstalling-oh-my-zsh">Uninstalling Oh My Zsh</h2>
<p>Oh My Zsh isn't for everyone. We'll miss you, but we want to make this an easy breakup.</p>
<p>If you want to uninstall <code>oh-my-zsh</code>, just run <code>uninstall_oh_my_zsh</code> from the command-line. It will remove itself and revert your previous <code>bash</code> or <code>zsh</code> configuration.</p>
<h2 id="contributing">Contributing</h2>
<p>I'm far from being a <a href="http://www.zsh.org/">Zsh</a> expert and suspect there are many ways to improve – if you have ideas on how to make the configuration easier to maintain (and faster), don't hesitate to fork and send pull requests!</p>
<p>We also need people to test out pull-requests. So take a look through <a href="https://github.com/robbyrussell/oh-my-zsh/issues">the open issues</a> and help where you can.</p>
<h3 id="do-not-send-us-themes">Do NOT send us themes</h3>
<p>We have (more than) enough themes for the time being. Please add your theme to the <a href="https://github.com/robbyrussell/oh-my-zsh/wiki/External-themes">external themes</a> wiki page.</p>
<h2 id="contributors">Contributors</h2>
<p>Oh My Zsh has a vibrant community of happy users and delightful contributors. Without all the time and help from our contributors, it wouldn't be so awesome.</p>
<p>Thank you so much!</p>
<h2 id="follow-us">Follow Us</h2>
<p>We have an <span class="citation">[@ohmyzsh]</span>(https://twitter.com/ohmyzsh) Twitter account. You should follow it.</p>
<h2 id="merchandise">Merchandise</h2>
<p>We have <a href="http://shop.planetargon.com/products/ohmyzsh-stickers-set-of-3-stickers">stickers</a> and <a href="http://shop.planetargon.com/products/ohmyzsh-t-shirts">shirts</a> for you to show off your love of Oh My Zsh. Again, this will help you become the talk of the town!</p>
<h2 id="license">License</h2>
<p>Oh My Zsh is released under the <a href="https://github.com/robbyrussell/oh-my-zsh/blob/master/MIT-LICENSE.txt">MIT license</a>.</p>
