.all-comments
  - if @post.comment_threads.empty?
    %strong No comments to here...
  - else
    - @post.comment_threads.each do |c|
      .row.comment-thread
        .small-10.small-offset-1.large-8.large-offset-2.columns
          - generate_comment_list(c)
  .text-center#new-link-container
    %a#new-link Write a comment
  %br/
